.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
    -fx-cursor: default; /* prevents resize cursor */
}
