.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
    -fx-cursor: default;
}

/* OBJ model modeltree */

#objModelTree .tree-view {
    -fx-background-color: black;
    -fx-control-inner-background: black;
    -fx-text-fill: white;
}

#objModelTree .tree-cell {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#objModelTree .tree-cell:hover {
    -fx-background-color: #222;
}

#objModelTree .tree-cell:selected {
    -fx-background-color: #444;
    -fx-text-fill: white;
}

#objModelTree .tree-cell:focused {
    -fx-background-color: #555;
}

#objModelTree .tree-view .scroll-bar {
    -fx-background-color: black;
}

/* Disclosure arrow (triangle) */
#objModelTree .tree-view #objModelTree .tree-disclosure-node > .arrow {
    -fx-background-color: white;
}

/* --- Info panels --- */

.infoPanel {
    -fx-background-color: black;
    -fx-text-fill: white;

    /* layout spacing */
    -fx-hgap: 10;
    -fx-vgap: 6;
    -fx-padding: 10;
}

/* Ensure labels inside the grid are white */
.infoPanel .label {
    -fx-text-fill: white;
}

/* Optional: style text fields or other controls inside the grid */
.infoPanel .text-field {
    -fx-background-color: #222;
    -fx-text-fill: white;
}

.infoPanel .hyperlink,
.infoPanel .hyperlink:visited,
.infoPanel .hyperlink:armed,
.infoPanel .hyperlink:hover,
.infoPanel .hyperlink:disabled {
    -fx-text-fill: -fx-accent;   /* or your custom color */
    -fx-underline: false;
    -fx-opacity: 1.0;
}

#noFocusWarning {
    -fx-background-color: rgba(120,120,180,0.5);
    -fx-background-radius: 12;

    -fx-padding: 10;

    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;

    -fx-border-color: rgb(200,200,200);
    -fx-border-width: 0.5;
    -fx-border-radius: 12;
}

